.container_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    position: relative;
}
.logo_Andrade{
    position: absolute;
    top: 20%;
    left: 10%;
}
.logo_Andrade img{
    width: 80px;
    object-fit:contain;
}
.background_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-image: url("../../assets/img/background-form.png");
    background-size: cover;
    position: relative;
}
.background_form .texto{
    padding: var(--padding);
    z-index: 10;
}
.background_form .texto h1{
    font-size: 2.1vw;
    color: var(--cor-branco);
    margin-bottom: 20px;
    width: 500px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    overflow: hidden;
}
.background_form .texto p{
    font-size: 1.1vw;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
    width: 500px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    overflow: hidden;
}

.conteudo_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: var(--cor-preto);
}
.conteudo_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: var(--padding);
}

.texto_form::before{
    content: "";
    position: absolute;
    border: 1.5px solid var(--cor-branco);
    width: 40px;
    z-index: 1;
}
.texto_form h1{
    color: var(--cor-branco);
    font-size: 2vw;
    font-weight: 600;
    width: 400px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    overflow: hidden;
    /* text-transform: uppercase; */
}
.texto_form p{
    color: var(--cor-secundaria);
    font-size: 1vw;
    font-weight: 600;
    margin-top: 10px;
    width: 500px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    overflow: hidden;
    text-align: justify;
}
.container_texto_animation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.grupo_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 500px;
    gap: 10px;
}
.input {
    margin: 0em 0 1em 0;
    position: relative;
    width: 100%;
}
  
.input input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid var(--cor-secundaria);
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    border-radius: 8px;
    width: 100%;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
}
  
.input label {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--cor-branco);
    text-transform: uppercase;
}
  
.input :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.1em 0.6em;
    background-color: var(--cor-preto);
    border-radius: var(--border-radius);
    color: var(--cor-branco);
    font-weight: 500;
}
.grupo_button{
    width: 100%;
}
.enviar{
    display: block;
    width: 100%;
    background-color: var(--cor-secundaria);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 20px;
    font-weight: 600;
}
.enviar:hover{
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    cursor: pointer;
}
.lottie{
    position: absolute;
    right: 10%;
    top: 10%;
}
.lottieSocialMedia{
    margin-top: 10px;
}
.informacao_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1360px){
    .background_form .texto h1{
        font-size: 2.3vw;
        width: 400px;
    }
    .background_form .texto p{
        font-size: 1.2vw;
        width: 400px;
    }
    .texto_form h1{
        font-size: 2.6vw;
        width: 400px;
    }
    .texto_form p{
        font-size: 1.2vw;
        width: 400px;
    }
    .input input {
        width: 100%;
    }
    .lottie{
        position: absolute;
        top: 2%;
        right: 0;
    }
    /* .lottieSocialMedia{
        position: absolute;
    } */
    .lottieSocialMedia > div{
        width: 250px !important;
        height: 150px !important;
    }
}

@media(max-width: 768px){
    .container_form{
        flex-direction: column;
        height: 100%;
    }
    .background_form{
        width: 100vw;
        height: 50%;
    }
    .background_form .texto {
        padding: 0;
        width: 100%;
    }
    .informacao_conteudo {
        padding: 120px 5.5vw 0px 5.5vw;
    }
    .background_form .texto h1{
        font-size: 7vw;
        padding: 0 2vw;
        width: 100%;
    }
    .background_form .texto p{
        font-size: 4vw;
        width: 100%;
        text-align: justify;
    }
    .lottie, .lottie > div{
        width: 100px !important;
        height: 100px !important;
    }
    .lottieSocialMedia , .lottieSocialMedia > div{
        width: 150px !important;
        height: 150px !important;
    }
    .lottie{
        position: absolute;
        top: 4%;
        right: 6%;
    }
    .conteudo_form{
        width: 100vw;
    }
    .container_texto_animation {
        justify-content: flex-start;
    }
    .texto_formulario_container{
        padding-top: 10px;
    }
    .conteudo_principal{
        width: 90vw;
        padding: 10vw 5vw;
    }
    .texto_form h1{
        font-size: 6vw;
        width: 100%;
    }
    .texto_form p{
        font-size: 3.5vw;
        width: 100%;
    }
    .lottieDivo, .lottieDivo > div{
        width: 55px !important;
        height: 55px !important;
    }
    .grupo_input{
        margin-top: 10px;
        width: 100% !important;
        gap: 5px;
    }
    .input input {
        border-radius: 8px;
        width: 100%;
    }


}