NavbarContainer{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

NavBrand{
    margin: 0;
  font-size: 1.5rem;
}

NavLink{
 color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

NavLink:hover{
    color: #ccc;
}