.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 40px;
    /* padding-top: 15vw; */
    padding: 15vw 12vw 0vw 12vw;
    background-color: var(--cor-principal);
}

.emoji{
    position: fixed;
}

.emoji canvas{
    position: absolute;
    width: 100px;
    height: 100px;
}

.conteudo_home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: var(--cor-branco);
}

.texto_home h1{
    position: relative;
    font-size: 3.2vw;
    font-weight: 700;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.texto_home p{
    margin-top: 10px;
    font-size: var(--font-size-p);
    font-weight: var(--font-height-p);
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    width: 600px;
    overflow: hidden;
}

.conteudo_imagem img{
    width: 40vw;
}

.button_home{
    padding: 2.5vh 5vw;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.button_home:hover{
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
}

.canva_3d {
    position: absolute;
    left: 38%;
    top: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ico{
    width: 25px;
    height: 25px;
}
.button_ico{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    color: none;
}


@media (max-width: 1360px){
    .home{
        gap: 40px;
        padding: 15vw 8vw 0vw 8vw;
    }
    .button_home{
        padding: 2.5vh 5vw;
        font-size: 20px;
        font-weight: 600;
    } 
    .conteudo_imagem img{
        width: 38vw;
    }
    .texto_home h1{
        font-size: 3.5vw;
    }
    .texto_home p{
        margin-top: 10px;
        font-size: 1.2vw;
        width: 500px;
    }
    .canva_3d {
        left: 500px;
    }
}




@media (max-width: 768px){
    .home{
        flex-direction: column;
    }
    .conteudo_home{
        padding-top: 150px;
    }
    .texto_home h1{
        font-size: 7vw;
    }
    .texto_home p{
        width: 90%;
        font-size: 2.5vw;
        font-weight: 600;
    }
    .canva_3d{
        top: 38%;
        left: 70%;
    }
    .canva3d, .canva_3d > div{
        width: 100px !important;
        height: 100px !important;
    }
    .button_home{
        padding: 2vh 5vw;
        font-size: 14px;
        font-weight: 650;
    }
    .conteudo_imagem img{
        width: 80vw;
    }
    
}