.container_descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-branco);
}

.texto_descricao {
  font-size: 1vw;
  font-weight: 500;
  color: var(--cor-principal);
  text-align: center;
  margin: 10vh 0 0 0;
}

.conteudo_detalhe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    margin: 8vh 0;
}

.detalhe{
    display: flex;
    align-items: center;
    gap: 2vh;
}

.detalhe img {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

.detalhe p{
    font-size: var(--font-size-p);
    font-weight: 500;
    color: var(--cor-secundaria);
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    width: 330px;
    overflow: hidden;
}

.container_descricao_marketing{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    padding: var(--padding);
}

.foto_marketing img{
    border-radius: var(--borde-radius);
    object-fit: cover;
    height: 765px;
    width: 600px;
}

.skills_curso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vh;
}
.skills_item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 80px 20px 20px;
    border-radius: var(--borde-radius);
    align-items: right;
    background-color: var(--cor-cinza);
}

.skills_item img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.skills_item h2{
    font-size: 2vw;
    font-weight: 700;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.skills_item p{
    font-size: var(--font-size-p);
    font-weight: var(--font-height-p);
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    width: 650px;
    overflow: hidden;
}

.conteudo_card{
    margin: 10vh 0 14vh;
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 4vh;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    width: 25vw;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.card h3 {
    padding-top: 20px;
    font-size: 3.2vw;
    font-weight: 700;
    background-image: radial-gradient(circle at 100% 60%, var(--cor-principal), var(--cor-secundaria) 20%, var(--cor-principal) 88%, #ecedef 165%, #f0eff0 165%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card p{
    padding-bottom: 20px;
    font-size: var(--font-size-p);
    font-weight: 600;
    font-style: normal;
    color: var(--cor-preto);
    width: 300px;
    overflow: hidden;
    text-align: justify;
}

@media (max-width: 1360px){
    .detalhe p{
        width: 250px;
    }
    .skills_item{
        padding: 20px 82px 20px 20px;

    }
    .skills_item  p{
        width: 440px;
    }
    .foto_marketing img{
        height: 610px;
    }
    .card{
        width: 27vw;
    }
    .card h3 {
        font-size: 3.4vw;
    }
}

@media(max-width: 768px){
    .container_descricao{
        align-items: normal;
    }
    .texto_descricao{
        margin-top: 8vh;
    }
    .conteudo_detalhe{
        display: grid;
        align-items: center;
        gap: 4vh;
        margin: 4vh 2vw 4vh 2vw;
        padding: 0 6vw;
    }
    .detalhe p{
        width: 80vw;
        font-weight: 600;
        font-size: 3.2vw;
    }
    .detalhe {
        display: flex;
        justify-content: center
    }
    .texto_descricao h1{
        font-size: 3.2vw;
    }
    .detalhe img{
        width: 10vw;
        height: 10vw;
    }
    .container_descricao_marketing{
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
        padding: 0 6vw;
    }
    .foto_marketing img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    } 
    .skills_curso{
        align-items: center;
        gap: 2vh;
    }
    .skills_item{
        padding: 20px;
    }
    .skills_item h2{
        width: 100%;
        font-size: 6vw;
        white-space: nowrap;
        overflow: hidden;
    }
    .skills_item p{
        width: 100%;
        font-size: var(--font-size-p-mobile);
        font-weight: 600;
        overflow: hidden;
    }
    .conteudo_card{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 1vh;
        margin: 2vh 0 4vh;
        padding: 0 6vw;
    }
    .card:nth-child(1){
        width: 80vw;
        grid-column: 1 / span 2;
    }
    .card:nth-child(1) h3{
        font-size: 10vw;
    }
    .card{
        padding: 10px;
        width: 40vw;
    }
    .card h3 {
        font-size: 7vw;
        padding-top: 0;
    }
    .card p{
        font-size: var(--font-size-p-mobile);
        overflow: hidden;
        width: auto;
        padding: 0;
    }
}