

.home{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 40px;
    padding: 15vw 12vw 0vw 12vw;
    /* background-color: var(--cor-principal); */
}
.emoji{
    position: fixed;
}

.emoji canvas{
    position: absolute;
    width: 100px;
    height: 100px;
}

.conteudo_home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: var(--cor-branco);
}

.texto_home h1{
    position: relative;
    font-size: 3.2vw;
    font-weight: 700;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.texto_home p{
    margin-top: 10px;
    font-size: var(--font-size-p);
    font-weight: var(--font-height-p);
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    width: 600px;
    overflow: hidden;
}

.conteudo_imagem img{
    width: 40vw;
}

.button_home{
    padding: 2.5vh 5vw;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.button_home:hover{
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
}

.canva_3d {
    position: absolute;
    left: 38%;
    top: 64%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ico{
    width: 25px;
    height: 25px;
}
.button_ico{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    color: none;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.fundo_animado {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /* background: #4e1d9a; */
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(258deg,#7538d0,#4e1d9a,#7538d0);
    background-size: 180% 180%;
    animation: animacao-gradiente 12s ease infinite;
}
@keyframes animacao-gradiente {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.fundo_animado li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}
.fundo_animado li:nth-child(0) {
    left: 56%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 1s;
}
.fundo_animado li:nth-child(1) {
    left: 15%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 1s;
}
.fundo_animado li:nth-child(2) {
    left: 75%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 4s;
}
.fundo_animado li:nth-child(3) {
    left: 59%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 8s;
}
.fundo_animado li:nth-child(4) {
    left: 62%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 10s;
}
.fundo_animado li:nth-child(5) {
    left: 22%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 21s;
}
.fundo_animado li:nth-child(6) {
    left: 10%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 30s;
}
.fundo_animado li:nth-child(7) {
    left: 89%;
    width: 138px;
    height: 138px;
    bottom: -138px;
    animation-delay: 23s;
}
.fundo_animado li:nth-child(8) {
    left: 10%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 24s;
}
.fundo_animado li:nth-child(9) {
    left: 17%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 23s;
}

@media (max-width: 1360px){
    .home{
        gap: 40px;
        padding: 15vw 8vw 0vw 8vw;
    }
    .button_home{
        padding: 2.5vh 5vw;
        font-size: 20px;
        font-weight: 600;
    } 
    .conteudo_imagem img{
        width: 38vw;
    }
    .texto_home h1{
        font-size: 3.5vw;
    }
    .texto_home p{
        margin-top: 10px;
        font-size: 1.2vw;
        width: 500px;
    }
    .canva_3d {
        left: 500px;
    }
}




@media (max-width: 768px){
    .home{
        flex-direction: column;
    }
    .conteudo_home{
        padding-top: 150px;
    }
    .texto_home h1{
        font-size: 7vw;
    }
    .texto_home p{
        width: 90%;
        font-size: 2.5vw;
        font-weight: 600;
    }
    .canva_3d{
        top: 38%;
        left: 70%;
    }
    .canva3d, .canva_3d > div{
        width: 100px !important;
        height: 100px !important;
    }
    .button_home{
        padding: 2vh 5vw;
        font-size: 14px;
        font-weight: 650;
    }
    .conteudo_imagem img{
        width: 80vw;
    }
    
}